.aboutContainer {
    padding: 2rem;
    margin: 5rem 1rem 1rem 1rem;
    height: 100vh;
    background: rgba(48, 39, 23, 0.651);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.2px);
    -webkit-backdrop-filter: blur(7.2px);
    border-radius: 1rem;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

.aboutContainer .div1, .div2 {
    max-width: 40%;
}

.aboutContainer h2 {
    margin-bottom: 0.6rem;
}

.carloPhoto {
    width: 150px;
    margin: 5rem 6rem 0 2rem;
    border-radius: 1rem;
    border: 1.5px dotted rgb(255, 200, 0);

}

.secondTxt {
    margin-top: 5rem;
}